div.c1 {
    color: rgb(222, 231, 222);
    font-size: 25px;
    background-color: rgb(115, 30, 30);
}

div.c2 {
    background-color: aquamarine;
}

.c3 {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

h1:hover{
    background-color: rgb(140, 254, 0);
    font-style: italic;
}