@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap%27');
.mycover
{
    top:0%;
    height:500px;
    background-image: url("./Viaggiare-organizzando-un-viaggio-1200x630_11zon.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}
.mycover_caption
{
    display:table;
    height:100%;
    width:100%;
    position: absolute;
}

#ciao{
    font-weight: lighter;
}

.mycover_caption_copy
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:rgb(255, 255, 255);
    font-family:'Archivo Black', sans-serif;
    font-weight: bold;
}

.show_help_answer{
    position: relative;
    text-align: center;
    color:rgb(0, 0, 0);
    top:150px;
}
.mycover_filter{
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity:0.5;
}
.stile-search{
    width: 1000px;
    border:rgb(252, 252, 252);
    z-index:-1;  
}

.list-answer{
    font-family: 'Archivo Black','sans-serif';
}
.style-button{
    background-color: blue;
    color:antiquewhite;
}
@media screen and (max-width:990px){
    .mycover
    {
        height:500px;
        background-image: url("./Viaggiare-organizzando-un-viaggio-1200x630_11zon.jpg");
        background-size: cover;
        background-position: center center;
        position:relative;
    }
    .stile-search{
        width:80%;
        border:rgb(252, 252, 252);
    }
    .show_help_answer
    {
        top:100px;
        position: relative;
        text-align: center;
        color:rgb(0, 0, 0);
    }
}
