@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;500&display=swap');
.mycover
{
    top:0%;
    height:500px;
    background-image: url("./Viaggiare-organizzando-un-viaggio-1200x630_11zon.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

.ui-autocomplete {
  background-color: #fff;
  padding: 5px;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  font-family: 'Lexend Deca', sans-serif !important;
  font-weight: 200;
  border-radius: 10px;
}

.ui-menu-item {
  padding: 5px;
  font-size: 20px;
}

.mycover_caption
{
    display:table;
    height:100%;
    width:100%;
    position: absolute;
}

#h1-text{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
}

.mycover_caption_copy
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:rgb(255, 255, 255);
}

.card-body-testo{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
}

#testo-img{
    font-family: 'Secular One', sans-serif;
}

.show_help_answer{
    position: relative;
    text-align: center;
    color:rgb(0, 0, 0);
    top:150px;
}
.mycover_filter{
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity:0.5;
}
.stile-search{
    width: 60%;
    border:rgb(252, 252, 252);
    z-index:-1;  
}

.list-answer{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
}
.style-button{
    background-color: blue;
    color:antiquewhite;
}
@media screen and (max-width:990px){
    .mycover
    {
        height:500px;
        background-image: url("./Viaggiare-organizzando-un-viaggio-1200x630_11zon.jpg");
        background-size: cover;
        background-position: center center;
        position:relative;
    }
    .stile-search{
        width:70%;
        border:rgb(252, 252, 252);
    }
    .show_help_answer
    {
        top:100px;
        position: relative;
        text-align: center;
        color:rgb(0, 0, 0);
    }

    .ui-menu-item {
        
        font-size: 13px;
      }

    .ui-widget-content{
        width: 70%;
    }
    
}
