a.nav-link:focus{
    color:rgb(255, 255, 255) 
}
a.nav-link{
    color:rgb(255, 255, 255)
}
a.nav-link:hover
{
    color:rgb(0, 0, 0)
}
@media screen and (max-width:768px)
{
    
    a.nav-link:focus
    {
        color:rgb(255, 255, 255) 
    }
    a.nav-link
    {
        color:rgb(255, 255, 255)
    }
    a.nav-link:hover
    {
        color:rgb(0, 0, 0)
    }
}
