@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;800&display=swap');

#img-caption {
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0%;
    margin-left: 8%;
    font-size: 100px;
    
}

#dest-paragraph{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: aliceblue;
    padding: 13%;
}

#form-cnt{
    margin-top: 15%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

#destra-paragr{
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
    


#form-paragraph{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding-top: 10%;
}

#login-button-dest{
    color: white;
    margin-left: 40%;
    margin-bottom: 5%;
}

#form-paragraph-not-logged{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding-top: 7%;
}

#dest-img {
    width: 100%;
    height: auto;
}

@media screen and (max-width:950px) {
    #img-caption{
        font-size: 75px;
    }

    #form-paragraph-not-logged{
        padding-top: 3%;
    }
}

@media screen and (max-width:750px) {
    #img-caption{
        font-size: 50px;
    }

    #form-cnt{
        margin-top: 3%;
    }

    #destra-paragr{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #login-button-dest{
        color: white;
        margin-left: 40%;
        margin-bottom: 5%;
    }

    
}