/*@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500&display=swap');
html, body {
  height: 100%;
}


body {
  display: flex;
  background-image: url("../Località/Spagna2.png");
}

.container2 {
  background-color: #ffffffc5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  top: 40%;
  left: 40%;
  width: 325px;
  height: 150px;
  position: relative;
}*/

.q1 {
  margin-top: 10px;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: larger;
}

.modal-content{
  background-color: rgba(240, 248, 255, 0.752);
}

.modal-footer{
  justify-content: flex-start;
}

.q2 {
  margin-bottom: 10px;
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  font-size: large;
  text-align: left;
}

.btn{
  margin-bottom: -3px;
}


.c1 {
  grid-area: c1;
  top: 50%;
  left: 30%;
}

.container {
  background-color: #ffffffc5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  top: 50%;
  left: 50%;
  width: 325px;
  height: 320px;
  margin-top: 180px;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-control {
  margin-bottom: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

