html,
body {
  height: 100%;
}

.header{
  background-color: blue;
  grid-area: header;
}

body {
  display: flex;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr repeat(5, 2fr);
  grid-template-areas: 'header header header header header header'
                        '. . . . . .'
                        '. c1 c1 c2 . .'
                        '. c1 c1 c2  . .'
                        '. . . . . .'
                        '. . . . . .';
  background-color: #ffffff;
}

.btn{
  margin-bottom: 5px;
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-control {
  margin-bottom: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

