@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500&display=swap');

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: rgba(240, 164, 72, 0.823) !important;
  background-size: cover;
}

.q1 {
    margin-top: 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: larger;
}

.q2 {
  margin-bottom: 100px;
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  font-size: large;
}

.btn{
  margin-bottom: -3px;
}


.log-container {
  background-color: #ffffffc5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 320px;
  height: 320px;
}

@media screen and (max-width: 850px) and (min-height: 750px){
  .log-container{
    margin-top: 25%;
  }
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-control {
  margin-bottom: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
