html,
body {
  height: 100%;
}

body {
  display: flex;
  display: grid;
  background-color: #ffffff;
}

.c1 {
  grid-area: c1;
  text-align:center;
}

.c2 {
  grid-area: c2;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-control {
  margin-bottom: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

