.hero {
    position: relative;
    height: 1000px; /* impostare l'altezza desiderata */
    overflow: hidden;
}
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

h1{
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}
.carousel-container {
  top: 40px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-size: cover;
  object-fit: cover;
}

.login-image {
    margin-left: 35px;
    height: 35px;
}