@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500&display=swap');

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(45deg,#7274d2, #b78a4e);
  background-size: cover;
}

.form-container {
  background-color: #ffffffc5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 325px;
  height: 450px;
}

.container2 {
  background-color: #ffffffc5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  padding: 3px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 325px;
  height: 130px;
}

@media screen and (max-width: 950px){
  .form-container{
    margin-top: 25%;
  }
}

#log-btn{
  margin-top: 20px;
}

.q1 {
  margin-top: 10px;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: larger;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-control {
  margin-bottom: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.login-image {
  margin-left: 35px;
  height: 35px;
}

